body{
    background-color: #0F0F0F;
    display: flex;
    justify-content: center;
}
.square{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}
.click{
    background-color: rgb(115, 228, 71);
}

.parent{
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
}
.child{
    width: 75px;
    height: 75px;
    background-color: green;
}