body, .first{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #0F0F0F;
}
.first{
    width: 400px;
    height: 400px;
    background-color: rgb(15, 107, 194);
    border-radius: 5px;
}
.child{
    width: 50%;
    height: 50%;
    background-color: rgb(236, 60, 60);
    border-radius: 5px;
}
p{
    color: white;
}
.paragraphs{
    width: 100px;
}
.square{
    width: 100px;
    height: 100px;
    background-color: rgb(15, 107, 194);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-sqaure{
    width: 50%;
    height: 50%;
    background-color: rgb(236, 60, 60);
    border-radius: 5px;
}