body{
    background-color: lightgray;
    
}
::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(247, 169, 0);
}
::-webkit-scrollbar-track{
    background-color: rgb(23, 13, 170);
}

div{
    width: 100px;
    height: 100px;
    background-color: green;
}